@font-face {
    font-family: 'ROBO Regular';
    font-style: normal;
    font-weight: normal;
    src: local('ROBO Regular'), url('ROBO.woff') format('woff');
}

h1 {
    font-family: "ROBO Regular";
    font-weight: 200;
    color: #0ccac4;
}